body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
}

.card {
    width: 400px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.header img {
    width: 50%;
    height: 50%;
}

.header h1 {
    font-size: 35px;
    color: #354d62;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.language-selector img {
    width: 12%;
    height: 12%;
    margin-bottom: 30px;
    cursor: pointer;
}

.language-selector img:hover {
    opacity: 0.8;
}

.form {
    padding: 25px 45px;
}

.form input {
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 17px;
}

.form input[type=password] {
    width: 100%;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #354d62;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
}

.button:hover,
.form button:active,
.form button:focus {
    background: #48647f;
}

input#checkbox.checkTheBox {
    display: flex;
    justify-content: flex-start;
    margin-top: 9px;
}

input.checkTheBox {
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.list {
    list-style-type: none;
    padding: 0
}

.checkTheBox {
    display: inline;
    cursor: pointer;
}

.checkbox-container p {
    color: darkblue;
    font-weight: 600;
    cursor: pointer;
}

#popup {
    background-color: #1e3050;
    color: #ffffff;
    display: none;
    width: 600px;
    height: 600px;
    box-shadow: -30px -25px 50px -7px rgba(0,0,0,0.1);
}

#popup h3 {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content p {
    font-size: 20px;
}

.modal-content .close {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .card {
        width: 70% !important;
    }

    .header {
        height: 40%;
    }

    .header h1 {
        font-size: 25px;
        margin: 25px 10px 17px 5px;
    }

    .card img {
        width: auto;
        height: 100px;
    }

    .card .header .language-selector img {
        width: 30px;
        height: 30px;
    }

    .modal .modal-content {
        width: 80%;
        height: 70%;
    }

    .modal .modal-content p {
        font-size: 15px;
    }
}